* {
  box-sizing: border-box;
  font-family: 'arial', consolas;
  font-size: 16px;
}

body {
  width: 100%;
  height: 85vh;
}

.blue {
  background: #d9edf7;
  color: #6aa9cd;
}

.yellow {
  background: #fcf8e3;
  color: #a59588;
}

.green {
  background: #dff0D8;
  color: #80a482;
}

.red {
  background: #f2dede;
  color: #b8719c;
}

/* NAVBAR */
.navbar {
  background: rgb(235,235,235);
  background: linear-gradient(0deg, rgba(235,235,235,1) 10%, rgb(233, 233, 233) 20%, rgb(247, 246, 246) 100%);
}

/* BODY */
.main-comp {
  margin-top: 100px;
  padding: 0 7%;
}

.test {
  border: 1px solid black;
  position: relative;
  margin-bottom: 50px;
  /* padding: 0 3%; */
}
/* ///// */

/* RIGHT COLUMN COMPONENT */
.border {
  width: 100%;
}

.fa-google,
.fa-facebook {
  color: black;
  width: 40px;
}

.icon-align {
  margin-top: -14px;
}
.card-header {
  background-color: #CAE6F4;
  color: #317392
}

.body-background {
  padding: 4% 4% 0% 4%;
}

.top-ranking {
  padding-bottom: 13%;
}

.online-support {
  margin-top: 7%;
}

.online-support-massage {
  border: 6px solid #6aa9cd;
  font-weight: bold;
  font-size:18px;
}

.online-support-massage img {
  width: 15%;
}

.login {
  margin: 4% 4% 0% 4%;
}

.members, .search-box {
  margin-top: 2%;
  margin: 0% 4%;
}
.username-card {
  font-weight: bold;
  display: inline;
}

.btn {
  background: rgb(219, 214, 214);
  background: linear-gradient(0deg, rgb(228, 223, 223) 0%, rgb(248, 248, 248) 35%);
  border: 1px solid rgb(199, 197, 197);
}
/* ////////////// */

/* STICKY MENU */
/* .sticky-menu {
  top: 100px;
} */
/* ///////////// */

/* TRANSFORM STICKTY MENU TO FIXED MENU */
.sticky-menu {
  top: 100px;
  bottom: 500px;
  position: fixed;
  width: 19%
}
/* ///////// */