<div class="card-body m-3 rounded login-background" *ngIf="isLoggedIn; else loggedOut">
  <!-- use below when integration  -->
  <!-- <div class="card-body mt-3 mx-3 rounded login-background"> -->
  <div>
    <div class="form-group row">
      <div class="col-md-10">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        LOGIN
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-2">User:
            <div class="username-card">{{username}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-2">Information:
            <div class="username-card">{{roles}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mt-4">
      <div class="col-md-12 d-flex justify-content-center flex-column align-items-center">
        <button class="btn rounded" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  <!-- <div class="card-body m-3 rounded login-background">
  use below when integration  -->
  <div class="card-body mt-3 mx-3 rounded login-background">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group row">
        <div class="col-md-5">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          LOGIN
        </div>
        <div class="col-md-7 mr-0 icon-align">
          <a href="#">
            <i class="fa fa-2x fa-google float-md-right mr-3 bg-light p-1 text-center" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-2x fa-facebook float-md-right mr-3 bg-light p-1 text-center" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelMd" class="col-md-2 col-form-label col-form-label-md">
          <b>User</b>
        </label>
        <div class="col-md-10">
          <input type="text" class="form-control form-control-md" placeholder="Name" formControlName="username">
          <div class="alert alert-danger p-1" role="alert" *ngIf="valid('username', 'required')">
            Must not be empty !
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabelMd" class="col-md-2 col-form-label col-form-label-md">
          <b>Pass</b>
        </label>
        <div class="col-md-10">
          <input type="password" class="form-control form-control-md" placeholder="Password" formControlName="password">
          <div class="alert alert-danger p-1" role="alert" *ngIf="valid('password', 'required')">
            Must not be empty !
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <button type="submit" class="btn rounded mr-3" [disabled]="loginForm.invalid">Sign in</button>
          <button class="btn rounded">Register</button>
          <div *ngIf="loginForm.dirty && isLogInFailed" class="alert alert-danger p-1 mt-2">
            Account doesn't exist !
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>


