* {
  font-size: 16px;
  font-family: 'arial', consolas;
}

body {
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* LOGIN COMPONENT */
.border {
  width: 300px;
}

.fa-google,
.fa-facebook {
  color: black;
  width: 40px;
}

.icon-align {
  margin-top: -14px;
}
.card-header {
  background-color: #CAE6F4;
  color: #317392
}

.login-background {
  background-color: #DFF0D8;
  color: #3C763D;
}


.username-card {
  font-weight: bold;
  display: inline;
}

.members {
  background-color: #FCF8E3;
  color: #8A6D3B;
}


.btn {
  background: rgb(219, 214, 214);
  background: linear-gradient(0deg, rgb(228, 223, 223) 0%, rgb(248, 248, 248) 35%);
  border: 1px solid rgb(199, 197, 197);
}
/* ////////////// */
